body{
    background-image: url('../images/background.jpg');
    background-size: 100%;
    align-content: center;
}


#banner{
    background-color:#FFC6AC;
    color: #002A32;
    border-color: lightsalmon;
	height: 5rem;
	width:100%;
	min-width:30rem;
    padding-top:5rem;
    padding-bottom: 5rem;
    border-bottom-style:solid;
    border-width: .6rem;
}
#banner_text{
    text-align: center;
    font-size: 3em;
    text-shadow: 11rem;
    
}

#banner_text a:visited{
    text-align: center;
    font-size: 3em;
    text-shadow: 11rem;
    color: #002A32;
}

#container{
    height:0 auto;
    width:0 auto;  
    margin-top: 1rem;
    margin-right: 1rem;
    text-align:left;
}

#main_text{
    background-color: #FFC6AC;
    background-repeat: no-repeat;
    background-size:cover;
    padding-left:1rem;
    padding-right:1rem;
    padding-bottom:1rem;
    padding-top: 1rem;
    margin: 3em;
    color: saddlebrown;
    border-style: ridge;
    border-color:#FFC6AC;
    border-width: .3rem;
    min-width: 5rem;
    opacity: 0.9;
}



#side_banner{
    width: 0;
    height: 100%;
    left: 0;
    background-color:lightsalmon;
    position: fixed;
    z-index:1;transition: 0.5s;
    overflow: hidden;
    opacity: .9;
}


#side_banner_img{
    width:14.8rem;
    height:15rem;
    margin-right:5rem;
}

#side_banner p{
    margin-left: 5rem;
    text-align: center;
    padding-top: 3rem;
    color: black;
}

#side_banner .closebtn {
    position: absolute;
    top: 0;
    right:2rem;
    margin-left: 4rem;
}

#menuBTN{
    position:fixed;
    top:0;
    right: 2rem;
    margin-left: 3rem;
}


#footer{
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    width:100%;
    min-width:20rem;;
    height:25px;
    border-style: double;
    color:black;
    background-color:#FFC6AC;
    text-align:right;
    opacity: .7;
}


h1 { 
    color: black;
    text-align: center;
    font-style: oblique;
} 
    

#footer p {
    margin-right: 2rem;
	padding-top: 0.5rem;
}

#footer b{
	font-size: .5rem;
}

a { 
    color: #002A32; 
    text-decoration:none; 
} 
    
a:hover { 
    text-decoration:underline; 
} 
    
a:visited { 
    text-decoration:none; 
    color:#F40076; 
}

table, th, td {
    border: .3rem solid black;
    border-collapse:collapse;
    padding: 1rem;
    display: inline-block;
}

p {
    font-family: veranda;
    font-size: 20px;
    text-align: center;
  }

button{
    font-size: 20px;
    text-align: center;
  }

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=number], select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;

    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=submit], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }